@font-face {
  font-family: "Chaviera";
  src: url("/fonts/chaviera_regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
  background-color: rgb(240, 237, 232);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chaviera", serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.3rem;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .NavigationMenuLink[data-active]::after {
    bottom: -4px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
